*.env*
G*I.md
backend/InterviewEngine/target/
backend/InterviewEngine/.idea/
backend/InterviewEngine/HELP.md
backend/InterviewEngine/DOCKER_HELP
backend/InterviewEngine/src/main/kotlin/com/sorychan/usercontextualizer/dbscript
backend/InterviewEngine/src/main/kotlin/com/sorychan/usercontextualizer/minioscript
backend/UAC/target/
backend/UAC/.idea/
backend/UAC/HELP.md
*dbscript
*minioscript
AWS*.md
backend/InterviewEngine/src/test/
cloud/.terraform*
cloud/terraform.tfvars
*tfstate*
secrets_script*