@import "tailwindcss";

@theme {
  --color-brand-primary: #2d3142;
  --color-brand-secondary: #bfc0c0;
  --color-brand-accent: #ef8354;
  --color-brand-accent-light: #4f5d75;
}

@variant dark (&:where(.dark, .dark *));
